*.pyc
/.coverage
/.installed.cfg
/.mr.developer.cfg
/.mrsd
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/bin/
/coverage/
/develop-eggs/
/devsrc/
/dist/
/eggs/
/htmlcov/
/include/
/lib/
/local/
/parts/
/pip-selfcheck.json
/py2/
/py3/
/pypy/
/src/node.egg-info/
