*.pyc
/.mrsd
/.project
/.pydevproject
/.pydevproject.bak
/.installed.cfg
/.mr.developer.cfg
/pip-selfcheck.json
/.coverage
/.settings/
/.vscode/
/htmlcov/
/py2/
/py3/
/pypy/
/coverage/
/dist/
/bin/
/develop-eggs/
/parts/
/devsrc/
/eggs/
/include/
/lib/
/local/
/src/node.egg-info/

