*.pyc
*.c
*.so
/bda.ldap.egg-info
/build
/coverage
/dist
/bin
/develop-eggs
/parts
/.*.cfg
/devsrc
/eggs
/src/bda.ldap.egg-info
/src/node.egg-info
/include/
/lib/
/local/
/pip-selfcheck.json
/.mrsd
/.project
/.pydevproject
/.pydevproject.bak
